<h1>List of all Articles</h1>

<%= link_to "Store Article", new_article_path %>

<table>
  <thead>
    <th>Title</th>
    <th>Source</th>
    <th>Abstract</th>
  </thead>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.source %></td>
      <td><%= article.abstract %></td>
      <td><%= link_to "Download File", download_article_path(article) %></td>
      <!-- <%= link_to "display using the full viewer", pdfjs.full_path(file: "/sample.pdf") %> -->
    </tr>
  <% end %>
</table>
