<%= link_to "Back to List", articles_path %>
<h1>Store any article</h1>


<%= form_for @article, url: articles_path do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :publication_date %>
  <%= form.date_field :publication_date %>
  <%= form.label :source %>
  <%= form.text_field :source %>
  <%= form.label :abstract %>
  <%= form.text_field :abstract %>

  <div>
    <%= form.label :file %><br>
    <%= form.file_field :file %>
  </div>

  <%= form.submit %>
<% end %>
