<%= link_to "Back to List", articles_path %>
<div class="new-article-form">
  <h1>Store PDF Articles</h1>


  <%= form_for @article, url: articles_path do |form| %>
    <div class="form-input">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="form-input">
      <%= form.label :publication_date %>
      <%= form.date_field :publication_date %>
    </div>

    <div class="form-input">
      <%= form.label :folder %>
      <%= form.text_field :folder %>
    </div>

    <div class="form-input">
      <%= form.label :source %>
      <%= form.text_field :source %>
    </div>

    <div class="form-input">
      <%= form.label :abstract %>
      <%= form.text_field :abstract %>
    </div>

    <div class="form-input">
      <%= form.label :article_pdf %>
      <%= form.file_field :file %>
    </div>

    <%= form.submit %>
  <% end %>
</div>
